    <center>
    {% extends 'stone.html' %}

    {% block title %}Didalens Home{% endblock  %}

    {% block content %}
    
  <div class="heading">
  <div class="heading-text">
      <h2>Didalens</h2>
      <p>Focus is the way forward</p>
    </div>

    <div class="form-buttons">
        <form method="post" action='/goals/aboutdidalens/'>
        {% csrf_token %}
        <button type="submit" class="button first-button">Get Started</button>
        </form>
        <form method="post" action='/users/account/login/'>
        {% csrf_token %}
        <button type="submit" class="button second-button">Login</button>
        </form>
      </div>

  </div>


  </div>
    {% endblock content %}

    </center>