    {% extends 'stone.html' %}
{% load crispy_forms_tags %}

{% block content %}

<center>
<div class="form-group">  
<h2>Enter Accountability Partner's Details</h2>
<form method="post">
  {% csrf_token %}
  {{ partner_form|crispy }}
  <button type="submit" class="button button-create-goal">Submit</button>
  </div>    
  </form>

  {% if number is 1 %}
  <p>this is filled up</p>

  {% else %}
  <span id="pwd_spn" class="password-span"><a href="/goals/ask_a_friend/{{user_id}}/">{{link}}/{{user_id}}</a></span>
  <p>Please click on copy, then send this link to your friend, family or anyone who you would want to be accountable to</p>
<button id="cp_btn" class="button">Copy</button>


  {% endif %}
  </div>
</center>
{% endblock content %}
