  

    {% extends 'stone.html' %}
{% load crispy_forms_tags %}

{% block title %}Sign Up
{% endblock title %}

{% block content %}
<center>
<div class="row">
 <div class="col-sm">
    </div>
 <div class="col-sm">
<form method='post'>
{% csrf_token %}
<div class="form-row">
<div class="form-group ">
<h2>Sign Up</h2>

<div class="signup-form">

<div class="email form">
<p>{{form.email.label_tag}}</p>
{{form.email}}
</div>
<div class="first_name form">

<p>{{form.first_name.label_tag}}</p>
{{form.first_name}}
</div>

<div class="last_name form">
<p>{{form.last_name.label_tag}}</p>
{{form.last_name}}
</div>

<div class="password1 form">
<p>{{form.password1.label_tag}}</p>
{{form.password1}}
</div>

<div class="password2 form">
<p>{{form.password2.label_tag}}</p>
{{form.password2}}
</div>
</div>
<button type="submit" class="button button-create-goal">Sign Up</button>
</div>
</div>
</form>
    </div>
 <div class="col-sm">
    </div>
</div>
</center>
{% endblock content %}
  
