<center>
{% extends 'stone.html' %}


{% block content %}

<p>Thank you for you registering as an accountability partner</p>
<br>
<div class="thank_you_body">
    <p>Didalens was created to help individuals achieve their goals faster with the help of accountability partners</p>
    <p>Everyday users are expected to register if they did that goal for that day and then we send the report to their accountability partners</p>
    <p>You can start by signing up <a href="http://didalens.herokuapp.com/">Here</a></p>
</div>
{% endblock %}